header {
    position: sticky;
    top: 0;
    z-index: 50;
    border-bottom: 1px solid rgb(20, 20, 20);
    padding: 24px;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    min-height: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 960px; 
}

.name {
    a {
        cursor: pointer;
    }
}

.header-links {
    display: flex;
    gap: 20px;

    a {
        cursor: pointer;
        transition: 0.5s;
        color: #F6F7F8;
        text-decoration: none; 
    }
    a:hover {
        font-size: larger;
        text-decoration: underline;
    }

    .header-about:hover {
        color: #FF3366;
    }

    .header-projects:hover {
        color: #20A4F3;
    }
    
    .header-resume:hover {
        color: #2EC4B6;
    }
}

.animation-container {
    position: fixed;
    bottom: 24px;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
}

.animation-text {
    width: 100%;
    display: inline-block;
    font-size: 20px;
    animation: moveAcross 8s linear;
}

@keyframes moveAcross {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}

@media (max-width: 768px) { 
    .header-links {
        gap: 16px;
    }    

    .animation-text {
        animation: moveAcross 6s linear;
    }
}