.projects {
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-item {
    opacity: 0;
    min-height: 80vh;
    min-width: 80vw;
    padding: 24px;
    margin: 24px;
    border-radius: 40px;
    transform: translateY(20px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center; 
    background-color: rgba(246, 247, 248, 0.05);
}

.project-item.appear {
    opacity: 1;
    transform: translateY(0);
}

.project-item img {
    max-width: 600px;
    max-height: 600px;
    border-radius: 20px;
    object-fit: contain;
}

.project-information-container h3 {
    margin: 0;
    font-size: 28px;
}

.project-information-container a {
    padding: 6px 12px;
    background-color: rgb(40, 40, 40);
    border-radius: 12px;
    text-decoration: none;
    color: #F6F7F8;
}