.projects {
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    min-height: 100vh;
}

.project-item {
    min-height: 80vh;
    padding: 36px;
    margin: 24px 0;
    transform: translateY(20px);
    transition: transform 0.5s ease-out, box-shadow 0.5s ease-out;
    display: flex;
    flex-direction: column;
    align-items: center; 
    position: relative;
    overflow: visible;
    border: solid 2px rgb(40, 40, 40);
    border-style: solid none solid none;
}

.project-item.appear {
    transform: translateY(0);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.image-container {
    position: relative;
    width: 80vw;
    height: 60vh;
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.project-image {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    border-radius: 20px;
    object-fit: contain;
    position: absolute;
}

/* text and information */
.project-information-container {
    display: flex;
    flex-direction: row;
    gap: 40px;
    margin: 24px 0;
}

.project-information-container .project-name {
    font-size: 60px;
    font-weight: 200;
    letter-spacing: 1px;
    margin: 12px 0;
}

.project-information-desc, .project-desc {
    font-size: 24px;
    margin: 16px 0 24px 0;
    width: 40vw;
}

.view-more-button {
    padding: 6px 12px;
    background-color: rgb(40, 40, 40);
    border-radius: 12px;
    text-decoration: none;
    color: #F6F7F8;
    cursor: pointer;
    font-size: 20px;
    transition: transform 0.5s ease, background-color 0.3s ease;
}

.view-more-button:hover {
    background-color: rgb(50, 50, 50);
    transform: translateY(-10px);
}

@media screen and (max-width: 768px) {
    .project-item {
        flex-direction: column;
        min-width: 80vw;
        padding: 24px;
        gap: 20px;
    }
    
    .image-container {
        width: 100%;
        height: 300px;
        margin-bottom: 24px;
    }

    .project-image {
        display: block;
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
    }

    .project-information-container {
        width: 100%;
    }

    .hidden {
        font-size: 16px;
    }
}