.hero-container {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    flex-direction: column;
    min-height: calc(100vh - 80px);
    justify-content: center;
    text-align: center;
}

.link-button {
    margin-top: 20px;
}

.link {
    display: inline-block;
    color: #FF3366;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 20px;
    border: 2px solid #FF3366;
    border-radius: 25px;
    transition: all 0.3s ease;
    animation: colorChange 10s infinite;
}

.link:hover {
    background-color: #FF3366;
    color: white;
    animation: none;
}

@keyframes colorChange {
    0% { color: #FF3366; border-color: #FF3366; }
    25% { color: #2EC4B6; border-color: #2EC4B6; }
    50% { color: #F6F7F8; border-color: #F6F7F8; }
    75% { color: #20A4F3; border-color: #20A4F3; }
    100% { color: #FF3366; border-color: #FF3366; }
}