.screen {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 63vh;
    overflow: hidden;
}

.heroHeader {
    width: fit-content;
    height: fit-content;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-shrink: 0;
}

.heroHeader h1 {
    font-size: 4rem;
    margin: 0;
    font-weight: bolder;
    background: linear-gradient(rgb(232, 232, 232), rgba(185, 185, 185, 0.3), rgba(141, 141, 141, 0)); 
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

.heroHeader h3 {
    position: absolute;
    bottom: 0;
    left: 1rem;
    text-transform: uppercase;
    font-size: xx-large;
    margin: 0;
}

#heroContent {
    display: flex;
    flex-direction: row-reverse;
    flex: 1;
    min-height: 0;
    overflow: hidden;
    justify-content: space-around;
}
    /* position: relative;
}

#heroContent::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%; 
    background-color: black; 
    z-index: 1;
    animation: revealFromLeft 0.8s ease-out forwards;
}

@keyframes revealFromLeft {
    from {
        width: 0%;
    }
    to {
        width: 100%;
    }
} */

#heroDesc {
    display: flex;
    margin: 1rem 0 0;
    width: 50%;
    flex-direction: column;
    padding: .5rem;
    background: linear-gradient(rgba(185, 185, 185, 0.1), rgba(185, 185, 185, 0.1), rgba(0, 0, 0, 0));
    -moz-border-radius: 0rem;
    -webkit-border-radius: .5rem .5rem 0rem 0rem;
    border-radius: .5rem .5rem 0rem 0rem; 
    overflow-y: auto;
    scrollbar-color: rgb(45, 45, 45) rgba(0, 0, 0, 0);
    scrollbar-width: thin;
    max-height: calc(100% - 1rem);
}

.heroDescHeader {
    display: flex;
    justify-content: space-between;
}

.viewStats, .unViewStats {
    font-size: .9rem;
    display: flex;
}

.unViewStats {
    color: rgb(126, 126, 126);
    cursor: not-allowed;
}

.viewStats {
    color: rgb(232, 232, 232);
    cursor: pointer;
    align-items: center;
}

.viewStats:hover {
    color: rgb(190, 0, 0);
}

.heroDescContainer {
    overflow-y: auto;
    flex: 1;
}

#heroDesc .heroDescSub {
    font-size: .75rem;
    color: rgb(142, 142, 142);
    margin: 0;
}

#heroDesc h4 {
    font-size: larger;
    margin: 0;
}

#heroDesc h5 {
    margin: 1rem 0 .25rem;
}

#heroDesc .statusBar {
    background-color: rgb(192, 192, 192); 
    width: 80%; 
    border-radius: 1rem;
    box-shadow: inset 0 0 .75rem rgb(84, 84, 84);
}

#heroDesc .statusBar .health, .mana {
    padding: 1%; 
    text-align: right; 
    border-radius: 1rem;
    font-size: .5rem;
}

#heroDesc .statusBar .health {
    background-color: rgb(152, 0, 0);
    box-shadow: inset 0 0 .75rem rgb(59, 0, 0);
}

#heroDesc .statusBar .mana {
    background-color: rgb(32, 12, 108);
    box-shadow: inset 0 0 .75rem rgb(20, 10, 61);
}

.skills {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.skills p {
    padding: .25rem 1rem;
    font-size: .75rem;
    font-weight: bold;
    background-color: rgb(223, 223, 223);
    box-shadow: inset 0 0 .5rem rgb(84, 84, 84);
    color: black;
    border-radius: 1rem;
    margin: .2rem .4rem;
}

.descDescription p {
    font-size: .75rem;

    a {
        color: white;
    }

    a:hover {
        color:rgb(190, 0, 0);
    }
}

.heroImageBox {
    width: 50%;
    margin: 1rem 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.heroImageBox img {
    max-width: 75%;
    max-height: 100%;
    object-fit: contain;
    border-radius: 1rem;
    animation: characterFloat 5s ease-in-out infinite;
}

.playButton {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
}

.playable, .unplayable {
    font-family: Monda;
    font-weight: bold;
    font-size: 1.25rem;
    border-radius: 1rem;
    padding: .5rem 1rem;
    border: none;
}

.unplayable {
    background-color: rgba(185, 185, 185, 0.5);
    border: rgba(185, 185, 185, 0.3) 1px solid;
    cursor: not-allowed;
}

.playable {
    cursor: pointer;
    background-color: rgb(235, 235, 235);
    box-shadow: inset 0 0 .25rem rgb(84, 84, 84);
    transition: 0.3s ease-in-out;
    /* animation: float 3s ease-in-out infinite; */
}

.playable:hover {
    /* transform: translateY(-.25rem); */
    background-color: white;
    animation-play-state: paused;
}

@keyframes float {
	0% {
		transform: translatey(0rem) scale(1);
	}
	50% {
		transform: translatey(-.2rem) scale(1.05);
	}
	100% {
		transform: translatey(0rem);
	}
}

@keyframes characterFloat {
	0% {
		transform: translatey(0rem);
	}
	50% {
		transform: translatey(-.4rem);
	}
	100% {
		transform: translatey(0rem);
	}
}

@media (max-width: 768px) {
    .heroHeader h1 {
        font-size: 2.5rem;
    }

    .heroHeader h3 {
        font-size: 1rem;
    }

    #heroContent {
        flex-direction: column-reverse;
        display: block;
    }

    #heroDesc h5 {
        margin: .5rem 0 .25rem;
    }

    #heroDesc {
        width: 90%;
    }

    .heroDescHeader {
        gap: 5%;
    }

    .viewStats, .unViewStats {
        font-size: .7rem;
        flex: 1;
    }

    .heroDescName {
        flex: 2;
    }

    .heroImageBox {
        margin: 0;
        width: 90%;
    }

    .heroImageBox img {
        display: none;
        max-width: 100%;
        border-radius: .15rem;
    }

    .playButton {
        bottom: 1rem;
        right: 1rem;
    }

    .playable, .unplayable {
        font-size: .75rem;
        border-radius: 1rem;
        padding: .5rem 1rem;
        border: none;
    }
}