.layout {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.main-content {
    flex: 1;
    overflow: hidden;
    padding-top: calc(0.5rem * 2 + 0.75rem);
    padding-bottom: 2rem;
}