.layout {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 100dvh;
    height: -webkit-fill-available;
}

.main-content {
    flex: 1;
    overflow: auto;
    padding-top: calc(0.5rem * 2 + 0.75rem);
    padding-bottom: 2rem;
    max-height: calc(100dvh - 4rem);
}

