.project-content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;
}

.tech-stack {
    display: flex;
    flex-direction: row;
    gap: 8px;

    p {
        padding: 6px 12px;
        background-color: rgb(40, 40, 40);
        border-radius: 12px;
        font-size: 16px;
    }
}

.redirect-links {
    display: flex;
    flex-direction: row;
    gap: 12px;

    a {
        padding: 6px 12px;
        border: solid 1px rgb(40, 40, 40);
        border-radius: 12px;
        font-size: 16px;
        color: #F6F7F8;
        cursor: pointer;
        text-decoration: none;
    }

    a:hover {
        background-color: rgb(40, 40, 40);
    }
}