.project-content {
    padding: 24px;
}

.project-content-container {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    padding: 24px 24px 0 24px;
    min-width: 80vw;
}

.project-summary {
    min-width: inherit;
}

.back-button {
    font-family: "Rethink Sans", sans-serif;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    text-transform: uppercase;
    color:#F6F7F8;
    transition: 0.5s;
}

.back-button:hover {
    text-decoration: underline;
    font-size: large;
}

.project-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.project-header h1 {
    margin: 0;
    font-size: 40px;
    font-weight: 300;
}

.tech-stack {
    h4 {
        font-weight: 300;
        margin: 8px 0;
    }

    .tech-stack-stack {
        display: flex;
        flex-direction: row;
        gap: 8px;
    
        p {
            margin: 8px 0 16px 0;
            padding: 6px 12px;
            background-color: rgb(40, 40, 40);
            border-radius: 12px;
            font-size: 16px;
        }
    }

}

.redirect-links {
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.redirect-links a {
    padding: 6px 12px;
    border: solid 1px rgb(40, 40, 40);
    border-radius: 12px;
    font-size: 16px;
    color: #F6F7F8;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 5px;
}

.redirect-links a:hover {
    background-color: rgb(40, 40, 40);
}

.redirect-links svg {
    min-height: 16px;
    width: 16px;
}