.GetItDone-content {
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
}

.GetItDone-content img {
    align-self: flex-start;
}

.GetItDone-content h5 {
    font-size: 18px;
    align-self: flex-start;
}

.image-desc {
    font-size: smaller;
    font-style: italic;
}

.project-links {
    text-decoration: none;
    color: #F6F7F8;
    font-size: 24px;
    font-weight: 700;
    width: 100%;
    border-bottom: 1px solid #F6F7F8;
    align-self: flex-start;
}

.image-desc-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 10%;
    align-items: center;
}

.desc-desc {
    flex: 1;

    a {
        color:#F6F7F8;
    }

    a:hover {
        color: #FF3366;
    }
}

.gid-landing-container {
    display: flex;
    flex-direction: column;
    width: fit-content;
    flex: 2;
}

.gid-landing {
    max-width: 50%;
    align-self: center !important;
}

.gid-new-container {
    display: flex;
    flex-direction: column;
    max-width: 40%;
    flex: 2;
}

.gid-new {
    max-width: 100%;
}

.gid-tele {
    max-width: 80%;
}
.gid-subtasks-container {
    max-width: 40%;
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-self: flex-start;
}

.gid-subtasks {
    max-width: 100%;
}

.navdropdown {
    position: absolute;
    right: 40px;
}

.navdropdown svg {
    cursor: pointer;
}

.dropdown-menu {
    position: absolute;
    top: 32px;
    right: 0;
    background-color: #000000;
    z-index: 1000;
    border: 1px solid #F6F7F8;
}

.dropdown-option {
    display: flex;
    padding: 12px 8px;
    font-size: 16px;
    width: 100%;
}

.dropdown-option a {
    margin: 0;
    color: #F6F7F8;
    text-decoration: none;
}

.dropdown-option:hover {
    a {
        color: #20A4F3;
    }
}

@media screen and (max-width: 768px) {
    .GetItDone-content {
        padding-top: 0;
    }
    
    .gid-landing {
        max-width: 100%;
    }

    .image-desc-container {
        flex-direction: column;
    }

    .gid-new-container {
        max-width: 100%;
        align-items: center;
    }
}