@import url('https://fonts.googleapis.com/css2?family=Monda:wght@400..700&display=swap');
html, body {
    background-color: #000000;
    font-family: "Monda";
    color: #F6F7F8;
    scroll-behavior: smooth;
    padding: 1rem 2rem 0rem;
}

@media (max-width: 768px) {
    body {
        font-size: .75rem;
        padding: 0;
    }

    html {
        padding: .5rem;
    }
}