footer {
    margin-top: auto;
    width: 100vw;
    max-width: 1360px;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-content {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-icon {
    cursor: pointer;
}