footer {
    margin-top: auto;
    width: 100%;
    max-width: 85rem;
    padding-top: 1.5rem;   /* py-6 */
    padding-bottom: 1.5rem; /* py-6 */
    padding-left: 1rem;    /* px-4 */
    padding-right: 1rem;   /* px-4 */
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.footer-content {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-icon {
    cursor: pointer;
}

@media (min-width: 640px) {
    footer {
        padding-left: 1.5rem;  /* sm:px-6 */
        padding-right: 1.5rem; /* sm:px-6 */
    }
}

@media (min-width: 1024px) {
    footer {
        padding-left: 2rem;  /* lg:px-8 */
        padding-right: 2rem; /* lg:px-8 */
    }
}