.about {
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    min-height: 100vh;

    h1 {
        color: #20A4F3;
    }
}

.about-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10%;

    a {
        font-size: 10px;
    }
}

.about-text {
    margin: 12px;
    max-width: 70%;

    p {
        margin-bottom: 12px;
    }
}

.about-image {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
        border-radius: 10%;
        height: 400px;
    }
}

@media screen and (max-width: 768px) {
    .about-container {
        flex-direction: column;
    }

    .about-text {
        max-width: 90%;
    }

    .about-image {
        img {
            height: 300px;
        }
    }
}