.landingBg {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: filter 0.3s ease-in-out 0.05s;
}

.landingBg.blurred {
    filter: blur(0.15rem) brightness(80%);
    -webkit-filter: blur(0.15rem) brightness(80%);
}

.playText {

}

.gameCardsContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 90%;
    width: 100%;
    gap: 1%;
    max-height: 800px;
}

.gameCard {
    width: 25%;
    height: 65%;
    border: white solid 1px;
    border-radius: 1rem;
    text-align: center;
    transition: 0.1s ease-in-out, pointer-events 0.3s ease-in-out;
}

.gameCard:hover {
    scale: 1.02;
    cursor: pointer;
    box-shadow: 0 0 1rem rgba(85, 85, 85, 0.5);
}

.blurred .gameCard {
    pointer-events: none;
}

.blurred .gameCard:hover {
    scale: 1;
    box-shadow: none;
    cursor: default;
}

.gameCardImage {
    height: 60%;

    -moz-border-radius: 0rem;
    -webkit-border-radius: 1rem 1rem 0rem 0rem;
    border-radius: 1rem 1rem 0rem 0rem;
}

.qp {
    background-color: rgb(155, 143, 175);
    box-shadow: inset 0 0 1rem rgba(72, 66, 82, 0.5);
}

.comp {
    background-color: rgb(221, 157, 84);
    box-shadow: inset 0 0 1rem rgba(129, 89, 44, 0.5);
}

.pr {
    background-color: rgb(122, 152, 192);
    box-shadow: inset 0 0 1rem rgba(45, 62, 83, 0.5);
}

.gameCardText {
    padding: .5rem .5rem 0 .5rem;
    height: 40%;
    color: rgb(100, 100, 100);
    background-color: rgb(230, 230, 230);
    -moz-border-radius: 0rem;
    -webkit-border-radius: 0rem 0rem 1rem 1rem;
    border-radius: 0rem 0rem 1rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    h1 {
        margin-top: 0;
    }
    
    p {
        margin-top: 0;
        font-size: larger;
    }
}


@media (max-width: 768px) {
    .gameCardsContainer {
        height: 80%;
        flex-direction: column;
        justify-content: space-around;
    }

    .gameCard {
        width: 85%;
        height: 28%;
    }

    .gameCardText {
        h1, p {
            margin: 0;
        }
    }
}